includes:
    - phpstan-baseline.neon

parameters:
    level: 4
    paths:
        - src
        - config
        - database
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: false
    checkMissingIterableValueType: false
    ignoreErrors:
        - "#^Unsafe usage of new static#"
        - "#should return static#"
